<!-- home.html -->

{% extends 'base.html' %}

{% load static %}

{% load static %}

{% block content %}

<div class="container">
    <div>
        {% include 'carousel-s.html' %}
      </div>
    <div id="content" class="row">
    <div class="page-header">
        <h1>Letters</h1>
        <div class="alert alert-warning" role="alert">
          This digital scholarly edition includes images of Marilyn Monroe's writings, which are copyrighted material owned by Farrar, Straus and Giroux. All rights reserved.
        </div>
    </div>

    <div class="card mb-6">
      <div class="row g-12">
        <div class="col-md-3">
          <img src="https://d2skn5554g4boz.cloudfront.net/2020-website/643/3463774/large/3463774_1.jpg" class="img-fluid rounded-start ph-img" alt="..." style="width: 180px;">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h5 class="card-title"><a href="{% url 'letter1' %}">Letter to Dr Hohenberg (1956-1957)</a></h5>
            <p>I’ve been wondering myself why I don’t write to you. I thought it has to do
              with the part that I’ve been feeling I was taken away from you or that you sent
              me away from you with your permission. On the whole, things are going rather
              well so far. M.C.A., our agents, and Stein, our lawyer are, have dealt dealing
              with Natasha but, we’ll see - I have a strange feeling about Paula. I mean, she
              works differently than Lee. Anyway I keep feeling I won’t be able to do the
              part when I have too it like a horrible nightmare. but she is a wonderful and
              warm person - which also bewilders me Also I guess I didn’t write you before
              this because I was waiting to see if I would get shot-first. Arthur writes me
              every day, at least that it gives me a little air to breathe, I can't get used
              to the fact that he loves me and I keep waiting for him to stop loving me
              though I hope he never will, but I keep telling myself, who knows?</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-6">
      <div class="row g-12">
        <div class="col-md-3">
          <img src="https://placehold.co/164x280?text=TBD" class="img-fluid rounded-start ph-img" alt="...">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h5 class="card-title placeholder-wave">
              <span class="placeholder col-6"></span>
            </h5>                          
            <p class="card-text placeholder-wave">
              <span class="placeholder col-7"></span>
              <span class="placeholder col-4"></span>
              <span class="placeholder col-4"></span>
              <span class="placeholder col-6"></span>
              <span class="placeholder col-8"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-6">
      <div class="row g-12">
        <div class="col-md-3">
          <img src="https://placehold.co/164x280?text=TBD" class="img-fluid rounded-start ph-img" alt="...">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h5 class="card-title placeholder-wave">
              <span class="placeholder col-6"></span>
            </h5>                          
            <p class="card-text placeholder-wave">
              <span class="placeholder col-7"></span>
              <span class="placeholder col-4"></span>
              <span class="placeholder col-4"></span>
              <span class="placeholder col-6"></span>
              <span class="placeholder col-8"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-6">
      <div class="row g-12">
        <div class="col-md-3">
          <img src="https://placehold.co/164x280?text=TBD" class="img-fluid rounded-start ph-img" alt="...">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h5 class="card-title placeholder-wave">
              <span class="placeholder col-6"></span>
            </h5>                          
            <p class="card-text placeholder-wave">
              <span class="placeholder col-7"></span>
              <span class="placeholder col-4"></span>
              <span class="placeholder col-4"></span>
              <span class="placeholder col-6"></span>
              <span class="placeholder col-8"></span>
            </p>
          </div>
        </div>
      </div>
    </div>




  </div>
</div>
{% endblock %}