<!-- home.html -->

{% extends 'base.html' %}

{% load static %}

{% load static %}

{% block content %}

<div class="container">
    <div>
        {% include 'carousel-s.html' %}
      </div>
    <div id="content" class="row">
    <div class="page-header">
        <h1>Works</h1>
    </div>

    <div class="card mb-6">
      <div class="row g-12">
        <div class="col-md-3">
          <img src="https://d2skn5554g4boz.cloudfront.net/2020-website/643/3463774/large/3463774_1.jpg" class="img-fluid rounded-start" alt="..." style="width: 180px;">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h5 class="card-title"><a href="{% url 'letter1' %}">Letter to Dr Hohenberg (1956-1957)</a></h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-6">
      <div class="row g-12">
        <div class="col-md-3">
          <img src="https://placehold.co/164x280?text=TBD" class="img-fluid rounded-start ph-img" alt="...">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h5 class="card-title placeholder-wave">
              <span class="placeholder col-6"></span>
            </h5>                          
            <p class="card-text placeholder-wave">
              <span class="placeholder col-7"></span>
              <span class="placeholder col-4"></span>
              <span class="placeholder col-4"></span>
              <span class="placeholder col-6"></span>
              <span class="placeholder col-8"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-6">
      <div class="row g-12">
        <div class="col-md-3">
          <img src="https://placehold.co/164x280?text=TBD" class="img-fluid rounded-start ph-img" alt="...">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h5 class="card-title placeholder-wave">
              <span class="placeholder col-6"></span>
            </h5>                          
            <p class="card-text placeholder-wave">
              <span class="placeholder col-7"></span>
              <span class="placeholder col-4"></span>
              <span class="placeholder col-4"></span>
              <span class="placeholder col-6"></span>
              <span class="placeholder col-8"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-6">
      <div class="row g-12">
        <div class="col-md-3">
          <img src="https://placehold.co/164x280?text=TBD" class="img-fluid rounded-start ph-img" alt="...">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h5 class="card-title placeholder-wave">
              <span class="placeholder col-6"></span>
            </h5>                          
            <p class="card-text placeholder-wave">
              <span class="placeholder col-7"></span>
              <span class="placeholder col-4"></span>
              <span class="placeholder col-4"></span>
              <span class="placeholder col-6"></span>
              <span class="placeholder col-8"></span>
            </p>
          </div>
        </div>
      </div>
    </div>




  </div>
</div>
{% endblock %}