<!-- templates/letters/letter_detail.html -->

{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <br><br><br>
        <h1>{{ letter.name }}</h1>
        <!-- Display other details of the letter -->
        <!-- For example: -->
        <p>Metadata URL: <a href="{{ letter.metadata.url }}">{{ letter.metadata.url }}</a></p>

        <p>{{ letter.metadata }}</p>
        
        <!-- Display the fetched images -->
        <!-- Inside your template -->
        {% if images %}
        <h2>Images:</h2>
        <div class="row">
            {% for image in images %}
                <div class="col-md-3">
                    <img src="{{ image.get_image_url }}" alt="Image">
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No images available for this letter.</p>
    {% endif %}

    <h1>Entities</h1>
    <ul>
        {% for entity in entities %}
            <li><a href="{% url 'entity_detail' entity.pk %}">{{ entity.name }}</a></li>
        {% endfor %}
    </ul>

    <h1>{{ entity.name }}</h1>
    <p>Category: {{ entity.category }}</p>
    <!-- Display images -->
    {% if images %}
        <h2>Images:</h2>
        <div>
            {% for image in images %}
                <img src="{{ image.get_image_url }}" alt="Image of {{ entity.name }}">
            {% endfor %}
        </div>
    {% else %}
        <p>No images available for this entity.</p>
    {% endif %}


    {{ letter.images }}
<p>Image Path: {{ images.image.image_path }}</p>
<p>Image Path: {{ image.image_path }}</p>
{% for image in images %}
<p>Image Path: {{ image.get_image_url }}</p>   
{% endfor %}     
        <!-- Add other fields as needed -->
    </div>


    

{% endblock %}

