<!-- home.html -->

{% extends 'base.html' %}

{% load static %}

{% load static %}

{% block content %}

<div class="container">
    <div>
        {% include 'carousel-s.html' %}
      </div>
    <div id="content" class="row">
    <div class="page-header">
        <h1>Filmography</h1>
    </div>

    <div class="container" style="margin: 16px;">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  See Monroe's 1940s Films (4)
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" >
                <div class="accordion-body">
                    <div class="row">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Dangerous Years (1947)</li>
                        <li class="list-group-item">Scudda Hoo! Scudda Hay! (1948)</li>
                        <li class="list-group-item">Ladies of the Chorus (1948)</li>
                        <li class="list-group-item">Love Happy (1949)</li>
                      </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  See Monroe's 1950s Films
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" >
                <div class="accordion-body">
                    <div class="row">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">A Ticket to Tomahawk (1950)</li>
                        <li class="list-group-item">The Asphalt Jungle (1950)</li>
                        <li class="list-group-item">All About Eve (1950)</li>
                        <li class="list-group-item">The Fireball (1950)</li>
                        <li class="list-group-item">Right Cross (1951)</li>
                        <li class="list-group-item">Home Town Story (1951)</li>
                        <li class="list-group-item">As Young as You Feel (1951)</li>
                        <li class="list-group-item">Love Nest (1951)</li>
                        <li class="list-group-item">Let's Make It Legal (1951)</li>
                        <li class="list-group-item">Clash by Night (1952)</li>
                        <li class="list-group-item">We're Not Married! (1952)</li>
                        <li class="list-group-item">Don't Bother to Knock (1952)</li>
                        <li class="list-group-item">Monkey Business (1952)</li>
                        <li class="list-group-item">Niagara (1953)</li>
                        <li class="list-group-item">Gentlemen Prefer Blondes (1953)</li>
                        <li class="list-group-item">How to Marry a Millionaire (1953)</li>
                        <li class="list-group-item">River of No Return (1954)</li>
                        <li class="list-group-item">The Seven Year Itch (1955)</li>
                        <li class="list-group-item">There's No Business Like Show Business (1954)</li>
                        <li class="list-group-item">Bus Stop (1956)</li>
                        <li class="list-group-item">The Prince and the Showgirl (1957)</li>
                        <li class="list-group-item">Some Like It Hot (1959)</li>
                      </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  See Monroe's 1960s Films
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" >
                <div class="accordion-body">TBD</div>
              </div>
            </div>
          </div>


          <br><br><br>
      <div class="page-header">
        <h2>Three Films to Watch Online</h2>
      </div>
      <br>

      <div id="carouselExample" class="carousel carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="{% static 'images/niagara.jpg' %}" class="d-block w-100" alt="..." style="opacity: 0.7;">
            <div class="carousel-caption d-none d-md-block">
              <h3>Niagara</h3>
              <p>Watch it here</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/dbtk.jpg' %}" class="d-block w-100" alt="..." style="opacity: 0.7;">
            <div class="carousel-caption d-none d-md-block">
              <h3>Don't Bother to Knock</h3>
              <p>Watch it <a href="https://archive.org/details/dont-bother-to-knock-1952">here</a></p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="10000">
            <img src="{% static 'images/gpb.jpg' %}" class="d-block w-100" alt="..." style="opacity: 0.7;">
            <div class="carousel-caption d-none d-md-block">
              <h3>Gentlemen Prefer Blondes</h3>
              <p>Watch it here</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>


    </div>
  </div>
</div>
{% endblock %}