<!-- home.html -->

{% extends 'base.html' %}

{% load static %}

{% load static %}

{% block content %}

<div class="container">
  <div>
    {% include 'carousel-m.html' %}
  </div>
    <div id="content" class="row">
    <div class="page-header">
      <h1>Monroe Unveiled: A Digital Edition</h1>
    </div>

    <div style="text-align:justify;">
      <p>"Marilyn Unveiled: A Digital Edition" is a premier online resource that delves into the multifaceted legacy of Marilyn Monroe, a cultural and cinematic icon of immense significance. This digital platform serves not only as a repository but as a portal into the essence of Monroe, showcasing a comprehensive collection that encompasses her personal writings, artistic endeavors, and the lasting impact she had on film and popular culture. The project seeks to provide a deeper understanding of Monroe's life beyond her public persona, through her personal letters, reflective poems, and artistic drawings, thereby offering a more nuanced glimpse into her inner world.</p>
    
      <p>Marilyn Monroe's impact extends far beyond her personal belongings, shaping the broader cultural landscape and the world of cinema. This digital edition provides a comprehensive account of her filmography, highlighting her versatility as an actress and the enduring impact of her work on the arts. The edition utilizes the Text Encoding Initiative (TEI) to conduct a scholarly analysis of Marilyn's works, employing a structured digital framework to facilitate a detailed examination of her written and artistic output.</p>

      <p>Please note that this edition is a work in progress. We continously update the project website and inform you about forthcoming additions.</p>
    
      <p>In the section <em>Introduction</em>, visitors will find a comprehensive <a href="{% url 'introduction' %}">overview</a> of the digital edition and an evolving discussion on the <a href="{% url 'guide' %}">editorial principles</a> guiding this project.</p>
    
      <p>The <em>Materials</em> section aggregates essential resources, including a <a href="{% url 'bibliography' %}">bibliography</a> of texts and a <a href="{% url 'films' %}">filmography</a> detailing Monroe's cinematic journey.</p>
    
      <p>The project's technical backbone is rooted in XML, adhering to the <a href="https://tei-c.org" title="Homepage Text Encoding Initiative">Text Encoding Initiative (TEI)</a> standards. All textual data are disseminated under an ‘open access’ license, embodying the principles of ‘open science’ by allowing for the expansion and enhancement of the project's materials.</p>
    
      <p>We cordially invite you to explore "Marilyn Unveiled: A Digital Edition," an in-depth examination of the life, works, and cinematic legacy of Marilyn Monroe. This edition offers a comprehensive journey into the complex and lasting impact of an iconic figure on popular culture.</p>
    </div>

  </div>
</div>
{% endblock %}