<!-- home.html -->

{% extends 'base.html' %}

{% load static %}

{% load static %}

{% block content %}

<div class="container">
    <div>
        {% include 'carousel-s.html' %}
      </div>
    <div id="content" class="row">
    <div class="page-header">
      <h1>About Monroe</h1>
    </div>

    <div style="text-align:justify;">
        <p>Marilyn Monroe, born Norma Jeane Mortenson on June 1, 1926, in Los Angeles, California, was an American actress, model, and singer. Her life was a tapestry of complexities and triumphs that often went beyond the scope of her image as a sex symbol.</p>
        <p>From a challenging childhood marked by foster homes and an absence of stability, Marilyn navigated her way through adversity. She emerged as a cultural icon, captivating audiences worldwide with her beauty, charisma, and talent. However, behind the facade of glamour lay a woman of profound intellect and sensitivity. Marilyn's interests extended beyond the silver screen; she was an avid reader with a penchant for literature. Her intellectual pursuits led her to engage in conversations about philosophy, psychology, and the arts with prominent intellectuals of her time.</p>
        <p>Throughout her life, Marilyn sought to express her innermost thoughts and emotions through various mediums. Her writings, including letters and poems, showcased a depth that often transcended the public's perception of her persona. Her vulnerability and insights revealed a layered personality that encompassed far more than the superficial image often portrayed. Despite the struggles she faced with fame, relationships, and personal turmoil, Marilyn displayed remarkable resilience and an unwavering determination to be recognized for her talents and intelligence, not merely for her external beauty.</p>
        <p>Marilyn Monroe's legacy endures, not just as a symbol of glamour but as a multifaceted individual who left an indelible mark on popular culture, challenging perceptions and inviting a deeper understanding of the complexities that defined her life.</p>
      </div>

  </div>
</div>
{% endblock %}