a.li {
    color: #000 !important;
}
.btn-secondary {
    color: #fff !important;
}


h1 {
    padding: 0.5em;
}

.cards {
    padding: 1em;
}
.thumbnail-icon {
    height: 100px;
}

#xmlTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  #xmlTable tr {
    border-bottom: 1px solid #ddd;
  }
  
  #xmlTable td {
    padding: 8px;
  }
  
  #xmlTable tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
#xmlTable td:first-child {
    background-color: #f2f2f2;
  }

  .accordion-header button, .accordion-header button:focus  {
    color: rgb(104, 103, 103);
    background-color: #eeeeee;
    border-color: rgb(104, 103, 103);
}

.accordion-header button:focus {
box-shadow: 0 0 0 0.25rem #818FB4;
}

footer > div > a, footer > div > a:hover {
  color: #fff !important;
}

.cropped-image {
  height: 200px;
  overflow: hidden;
}

.cropped-image img {
  object-fit: cover;
  object-position: center top;
  width: 100%;
  height: auto; 
}

.ph-img {
  padding: 10px !important;
}