<!-- home.html -->

{% extends 'base.html' %}

{% load static %}

{% load static %}

{% block content %}

<div class="container">
    <div>
        {% include 'carousel-s.html' %}
      </div>
    <div class="page-header">
      <h1>Drawings</h1>
    </div>

    <div class="card mb-4" style="max-width: 540px;">
      <div class="row g-12">
        <div class="col-md-4">
          <img src="https://www.julienslive.com/images/lot/2453/245393_xl.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><a href="/works/poetry/note3.html">[Drawing] Sir Laurence Olivier (n.d.)</a></h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-4" style="max-width: 540px;">
      <div class="row g-12">
        <div class="col-md-4">
          <img src="https://images-prod.anothermag.com/1446/azure/another-prod/360/0/360525.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><a href="/works/poetry/note3.html">[Drawing] Jumping into the frying pan from the fire (c. 1960)</a></h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-4" style="max-width: 540px;">
      <div class="row g-12">
        <div class="col-md-4">
          <img src="https://placehold.co/164x280?text=TBD" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title placeholder-wave">
              <span class="placeholder col-6"></span>
            </h5>                          
            <p class="card-text placeholder-wave">
              <span class="placeholder col-7"></span>
              <span class="placeholder col-4"></span>
              <span class="placeholder col-4"></span>
              <span class="placeholder col-6"></span>
              <span class="placeholder col-8"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-4" style="max-width: 540px;">
      <div class="row g-12">
        <div class="col-md-4">
          <img src="https://placehold.co/164x280?text=TBD" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title placeholder-wave">
              <span class="placeholder col-6"></span>
            </h5>                          
            <p class="card-text placeholder-wave">
              <span class="placeholder col-7"></span>
              <span class="placeholder col-4"></span>
              <span class="placeholder col-4"></span>
              <span class="placeholder col-6"></span>
              <span class="placeholder col-8"></span>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}