<!-- home.html -->

{% extends 'base.html' %}

{% load static %}

{% load static %}

{% block content %}

<div class="container">
    <div>
        {% include 'carousel-s.html' %}
      </div>
    <div id="content" class="row">
    <div class="page-header">
        <h1>Letters</h1>
        <div class="alert alert-warning" role="alert">
          This digital scholarly edition includes images of Marilyn Monroe's writings, which are copyrighted material owned by Farrar, Straus and Giroux. All rights reserved.
        </div>
    </div>

    <div class="card mb-6">
      <div class="row g-12">
        <div class="col-md-3">
          <img src="https://www.julienslive.com/images/lot/2453/245393_xl.jpg" class="img-fluid rounded-start ph-img" alt="Drawing of Sir Laurence Oliver" style="width: 180px;">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h5 class="card-title placeholder-wave">
              <span class="placeholder col-6"></span>
            </h5>                          
            <p class="card-text placeholder-wave">
              <span class="placeholder col-7"></span>
              <span class="placeholder col-4"></span>
              <span class="placeholder col-4"></span>
              <span class="placeholder col-6"></span>
              <span class="placeholder col-8"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-6">
      <div class="row g-12">
        <div class="col-md-3">
          <img src="https://images-prod.anothermag.com/1446/azure/another-prod/360/0/360525.jpg" class="img-fluid rounded-start ph-img" alt="Drawing of legs" style="width: 180px;">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h5 class="card-title placeholder-wave">
              <span class="placeholder col-6"></span>
            </h5>                          
            <p class="card-text placeholder-wave">
              <span class="placeholder col-7"></span>
              <span class="placeholder col-4"></span>
              <span class="placeholder col-4"></span>
              <span class="placeholder col-6"></span>
              <span class="placeholder col-8"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-6">
      <div class="row g-12">
        <div class="col-md-3">
          <img src="https://placehold.co/164x280?text=TBD" class="img-fluid rounded-start ph-img" alt="...">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h5 class="card-title placeholder-wave">
              <span class="placeholder col-6"></span>
            </h5>                          
            <p class="card-text placeholder-wave">
              <span class="placeholder col-7"></span>
              <span class="placeholder col-4"></span>
              <span class="placeholder col-4"></span>
              <span class="placeholder col-6"></span>
              <span class="placeholder col-8"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-6">
      <div class="row g-12">
        <div class="col-md-3">
          <img src="https://placehold.co/164x280?text=TBD" class="img-fluid rounded-start ph-img" alt="...">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h5 class="card-title placeholder-wave">
              <span class="placeholder col-6"></span>
            </h5>                          
            <p class="card-text placeholder-wave">
              <span class="placeholder col-7"></span>
              <span class="placeholder col-4"></span>
              <span class="placeholder col-4"></span>
              <span class="placeholder col-6"></span>
              <span class="placeholder col-8"></span>
            </p>
          </div>
        </div>
      </div>
    </div>




  </div>
</div>
{% endblock %}